.education {
  background-color: $bg-dark-footer;
  padding: 80px 0;
  &_inner {
    display: flex;
    gap: 41px;
    align-items: flex-start;
  }
  &_title {
    max-width: 359px;
    width: 100%;
  }
  .title {
    color: #fff;
  }
  .education_content {
    p {
      color: #fff;
      max-width: 680px;
      font-family: $font-familyW;
      line-height: 160%;
      margin-bottom: 30px;
    }
    p:last-child {
      margin-bottom: 0px;
    }
  }
}

@media (max-width: (1205px)) {
  .education_title {
    max-width: 339px;
  }
}
@media (max-width: (1164px)) {
  .education_title {
    max-width: 280px;
  }
}

@include small-tablet {
  .education {
    padding: 40px 0;
  }
  .education_inner {
    flex-direction: column;
  }
}
