.experience {
  background-color: $lightWhite;
  padding: 80px 0;
  &_inner {
    display: flex;
    gap: 41px;
    align-items: flex-start;
  }
  &_title {
    max-width: 359px;
    width: 100%;
  }
  .title {
    color: $titleColor;
  }
  .experience_items {
    display: grid;
    grid-template-columns: 304px 304px;
    gap: 32px 96px;
    margin-bottom: 50px;
  }

  .experience_content {
    .title {
      color: #000;
      font-family: $font-familyW;
      font-size: 24px;
      font-weight: 400;
      line-height: 160%;
      margin-bottom: 7px;
    }
    p {
      margin: 0;
      color: $lightSilver;
      font-size: 20px;
      font-weight: 400;
      line-height: 150%;
    }
  }
  .experience_now {
    .experience_image {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: (920px)) {
  .experience {
    padding: 40px 0;
  }
  .experience_inner {
    flex-direction: column;
    gap: 20px;
  }
}

@include small-tablet {
  .experience .experience_items {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .experience_experience-item {
    text-align: center;
  }
}
