.footer {
  background-color: $bg-dark-footer;
  padding-top: 30px;
  padding-bottom: 30px;
  &_contacts  {
    @include flex-all-sb;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    padding-bottom: 40px;
  }
  &_btn {
    padding: 16px 27px;
    max-width: 221px;
    background-color: #fff;
    color: $sunsetOrange;
  }
  .contacts-phone {
    display: block;
    .whatsapp {
      path {
        transition: fill 0.5s;
      }
      @include hover {
        path {
          fill: #008000;
        }
        path:last-child {
          fill: #fff;
        }
      }
    }

    .telegram {
      path {
        transition: fill 0.5s;
      }
      @include hover {
        path {
          fill: #039BE5;
        }

      }
    }
    a {
      font-family: $font-familyW;
      font-size: 30px;
      font-weight: 700;
      color: $sunsetOrange;
    }
    button {
      margin-top: 5px;
      margin-left: auto;
      margin-right: 0;
      color: #fff;
      border-bottom: 1px dashed $sunsetOrange;
      transition: color 0.5s;
      @include hover {
        color: $honeyGold;
      }
    }
  }
  &_logo-studio {
    @include flex-all-center;
    padding-top: 20px;
    span {
      color: #FFF;
      font-family: $font-familyW;
      font-size: 14px;
      font-weight: 500;
      margin-right: 31px;
    }
  }
}

@media (max-width: (846px)) {
  .footer_contacts {
    flex-direction: column;
    gap: 20px;
  }
  .footer {
    .contacts-phone {
      button {
        margin: 10px auto 0;
      }
    }
  }
}
@media (max-width: (360px)) {
  .footer {
    .contacts-phone {
      a {
        font-size: 25px;
      }
    }
  }
}
