.map {
  position: relative;
  padding-top: 80px;
  padding-bottom: 86px;
  background-color: $primaryBackgroundColor;
  .title {
    margin-top: 0;
    margin-bottom: 40px;
    color: $titleColor;
  }
  &_inner {
    position: relative;
    max-width: $content-width;
    width: 100%;
    min-height: 717px;
  }
  .svg-title {
    text-align: center;
    margin-bottom: 34px;
    margin-top: 0;
  }
  &_logo {
    width: 68px;
    height: 68px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $ivory;
    z-index: 10;
  }
  &_contact-form {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 468px;
    width: 100%;
    z-index: 10;
    padding: 34px 20px 54px;
    background-color: #fff;
  }

  &_custom-checkbox {
    @include custom-checkbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    text-align: left;
    max-width: 468px;
    width: 100%;
    .checkbox {
      width: 15px;
      height: 15px;
      margin-bottom: 0;
    }

  }
  &_checkbox-content {
    font-size: 10px;
  }
  &_contacts {
    .svg-title {
      margin-bottom: 34px;
    }
    .location {
      background-color: $lightWhite;
      padding: 20px 18px 29px;
      margin-bottom: 53px;
      &_head {
        @include flex-all-sb;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 130%;
      }
      &_metro {
        @include flex-v-center
      }
      .address {
        color: rgba(0, 0, 0, 0.50);
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 16px;
      }
      .time {
        text-align: right;
        display: inline-block;
      }
    }
  }

  &_form {
    &-title {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 8px;
    }
    &-desc {
      color: rgba(0, 0, 0, 0.47);
      font-family: $font-familyW;
      font-weight: 400;
      margin-bottom: 29px;
      margin-top: 0;
    }
    form {
      @include flex-all-center;
      flex-direction: column;
      input {
        width: 100%;
        background: $lightWhite;
        padding: 21px 20px;
        border: none;
        margin-bottom: 11px;
        color: rgba(0, 0, 0, 0.50);
        font-family: $font-familyW;
        font-weight: 400;
        outline: none;
      }
      input:nth-child(2) {
        margin-bottom: 18px;
      }
      button {
        padding: 20px 80px;
        max-width: unset;
        width: 100%;
        color: #fff;
        background-color: $honeyGold;
      }
    }
  }
  .contacts-phone {
    .whatsapp {
      path {
        transition: fill 0.3s;
      }
      @include hover {
        path {
          fill: #008000;
        }
        path:last-child {
          fill: #fff;
        }
      }
    }

    .telegram {
      path {
        transition: fill 0.3s;
      }
      @include hover {
        path {
          fill: #036394;
        }

      }
    }
  }
}

.contacts-phone {
  display: flex;
  align-items: center;
  .telegram {
    margin-right: 12px;
  }
  .whatsapp {
    margin-right: 10px;
  }
  a {
    color: #000;
    font-size: 20px;
  }
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}


.ymaps-2-1-79-copyright__link {
  display: none;
}
.ymaps-2-1-79-inner-panes {
  border-radius: 24px;
  .ymaps-2-1-79-user-selection-none{
    position: relative;
    z-index: 1000 !important;
  }
}

@media (max-width: (1050px)) {
  .map_logo {
    left: 6%;
  }
}
@media (max-width: (859px)) {
  .map_logo {
    left: 100px;
  }
}

@include small-tablet {
  .map {
    padding: 40px 0;
  }
  .map_logo {
    left: 35px;
  }

  .map_contact-form {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0 auto;
  }
  .map_contacts .location {
    margin-bottom: 20px;
  }
}
@media (max-width: (640px)) {
  .map {
    .contacts {
      flex-direction: column;
      h2 {
        font-size: 28px;
      }
    }
  }
}
@media (max-width: (345px)) {
  .map_contacts .location_head {
    flex-direction: column;
    gap: 10px;
  }
  .map {
    .contacts-phone a {
      font-size: 17px;
    }
    .title {
      margin-bottom: 20px;
    }
  }
  .map_contact-form {
    position: static;
    top: 0;
    transform: unset;
  }
  .map {
    .ymaps-2-1-79-map {
      display: none;
    }
  }
  .map_logo {
    display: none;
  }
}
