.map {
  position: relative;
  padding-top: 80px;
  padding-bottom: 86px;
  background-color: $primaryBackgroundColor;
  .title {
    margin-top: 0;
    margin-bottom: 40px;
    color: $titleColor;
  }
  &_inner {
    position: relative;
    max-width: $content-width;
    width: 100%;
    min-height: 680px;
  }
  .svg-title {
    text-align: center;
    margin-bottom: 34px;
    margin-top: 0;
  }
  &_logo {
    position: absolute;
    @include flex-all-center;
    width: 68px;
    height: 68px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $ivory;
    bottom: 30%;
    left: 13%;
    z-index: 10;
  }
  &_contact-form {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 468px;
    width: 100%;
    z-index: 10;
    padding: 34px 20px 54px;
    background-color: #fff;
  }
  &_contacts {
    .svg-title {
      margin-bottom: 34px;
    }
    .location {
      background-color: $lightWhite;
      padding: 20px 18px 29px;
      margin-bottom: 53px;
      &_head {
        @include flex-all-sb;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 130%;
      }
      &_metro {
        @include flex-v-center
      }
      .address {
        color: rgba(0, 0, 0, 0.50);
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 16px;
      }
      .time {
        text-align: right;
        display: inline-block;
      }
    }
  }

  &_form {
    &-title {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 8px;
    }
    &-desc {
      color: rgba(0, 0, 0, 0.47);
      font-family: $font-familyW;
      font-weight: 400;
      margin-bottom: 29px;
      margin-top: 0;
    }
    form {
      @include flex-all-center;
      flex-direction: column;
      input {
        width: 100%;
        background: $lightWhite;
        padding: 21px 20px;
        border: none;
        margin-bottom: 11px;
        color: rgba(0, 0, 0, 0.50);
        font-family: $font-familyW;
        font-weight: 400;
      }
      input:nth-child(2) {
        margin-bottom: 18px;
      }
      button {
        padding: 20px 80px;
        max-width: unset;
        width: 100%;
        color: #fff;
        background-color: $honeyGold;
      }
    }
  }
}

.contacts-phone {
  display: flex;
  align-items: center;
  .telegram {
    margin-right: 12px;
  }
  .whatsapp {
    margin-right: 10px;
  }
  a {
    color: #000;
    font-size: 20px;
  }
}
.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}


.ymaps-2-1-79-copyright__link {
  display: none;
}
.ymaps-2-1-79-inner-panes {
  border-radius: 24px;
  .ymaps-2-1-79-user-selection-none{
    position: relative;
    // cursor: auto !important;
    z-index: 1000 !important;
  }
}

@include small-tablet {

  .map_logo {
    display: none;
  }
  .map_inner {
    padding: 20px;
  }
  .map_contact-form {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0 auto;
  }
}
@media (max-width: (1300px)) {
  .map_contact-form {
    max-width: 550px;
  }
  .ymaps-2-1-79-map {
    min-height: 680px;
  }
}
@media (max-width: (769px)) {
  .ymaps-2-1-79-map {
    max-height: 630px;
  }
}
@media (max-width: (640px)) {
  .map {
    .contacts {
      flex-direction: column;
      h2 {
        font-size: 28px;
      }
    }
  }
}
