@charset "UTF-8";
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Wix+Madefor+Display:wght@400;500;700&display=swap");
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Tenor Sans";
  src: url("../fonts/../fonts/TenorSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Wix Madefor Display";
  src: url("../fonts/../fonts/WixMadeforDisplayBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Wix Madefor Display";
  src: url("../fonts/../fonts/WixMadeforDisplayMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Wix Madefor Display";
  src: url("../fonts/../fonts/WixMadeforDisplayRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Tenor Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.container--lg {
  margin: 0 auto;
  max-width: 1205px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: block;
}

.title {
  font-family: "Tenor Sans", sans-serif;
  font-size: clamp(2rem, 1.721rem + 1.4vw, 2.75rem);
  line-height: 150%;
  margin: 0;
}

.button {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 80px;
  max-width: 428px;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .button:hover {
    border-radius: 5px;
    background-color: #d9ae43;
    color: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(217, 174, 67, 0.4);
    box-shadow: 0 4px 8px rgba(217, 174, 67, 0.4);
  }
}

.header {
  background-color: #49443F;
  padding-top: 22px;
  padding-bottom: 22px;
}
.header_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header_btn {
  padding: 16px 40px;
  max-width: 247px;
  background-color: #fff;
  color: #D9AE43;
}
@media (any-hover: hover) {
  .header_btn:hover {
    border-radius: 5px;
    background-color: #d9ae43; /* Змінюємо фон кнопки при наведенні */
    color: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(217, 174, 67, 0.4);
    box-shadow: 0 4px 8px rgba(217, 174, 67, 0.4);
  }
}
.header .contacts-phone a {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #D9AE43;
}

@media (max-width: 785px) {
  .header_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
}
.our-works, .works {
  position: relative;
  background-color: #484440;
  padding: 80px 0;
}
.our-works .title, .works .title {
  margin-bottom: 40px;
  color: #fff;
}
.our-works_inner, .works_inner {
  position: relative;
}
.our-works_inner .swiper-slide, .works_inner .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.our-works_inner .my-button-prev, .our-works_inner .my-button-next, .works_inner .my-button-prev, .works_inner .my-button-next {
  width: 71px;
  height: 71px;
  background-color: #fff;
  border-radius: 50%;
  color: #C77760;
}
.our-works_inner .swiper-button-prev::after, .our-works_inner .swiper-button-next::after, .works_inner .swiper-button-prev::after, .works_inner .swiper-button-next::after {
  font-size: 24px;
  font-weight: 700;
}
.our-works_inner .swiper-button-prev, .works_inner .swiper-button-prev {
  left: -36px;
}
.our-works_inner .swiper-button-next, .works_inner .swiper-button-next {
  right: -36px;
}

.works-slider .image {
  max-width: 380px;
  width: 100%;
}
.works-slider .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.works {
  background-color: #46423F;
}

@media (max-width: 800px) {
  .our-works, .works {
    padding: 40px 0;
  }
}
.map {
  position: relative;
  padding-top: 80px;
  padding-bottom: 86px;
  background-color: #EDEFF2;
}
.map .title {
  margin-top: 0;
  margin-bottom: 40px;
  color: #AA804F;
}
.map_inner {
  position: relative;
  max-width: 1180px;
  width: 100%;
  min-height: 717px;
}
.map .svg-title {
  text-align: center;
  margin-bottom: 34px;
  margin-top: 0;
}
.map_logo {
  width: 68px;
  height: 68px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #E0D2AB;
  z-index: 10;
}
.map_contact-form {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 468px;
  width: 100%;
  z-index: 10;
  padding: 34px 20px 54px;
  background-color: #fff;
}
.map_custom-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  text-align: left;
  max-width: 468px;
  width: 100%;
}
.map_custom-checkbox__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.map_custom-checkbox__content {
  padding-left: 25px;
  cursor: pointer;
}
.map_custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.map_custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='fi_32282' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='405.272px' height='405.272px' viewBox='0 0 405.272 405.272' style='enable-background:new 0 0 405.272 405.272;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.map_custom-checkbox .checkbox {
  width: 15px;
  height: 15px;
  margin-bottom: 0;
}
.map_checkbox-content {
  font-size: 10px;
}
.map_contacts .svg-title {
  margin-bottom: 34px;
}
.map_contacts .location {
  background-color: #F8F8FA;
  padding: 20px 18px 29px;
  margin-bottom: 53px;
}
.map_contacts .location_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 130%;
}
.map_contacts .location_metro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.map_contacts .location .address {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 16px;
}
.map_contacts .location .time {
  text-align: right;
  display: inline-block;
}
.map_form-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 8px;
}
.map_form-desc {
  color: rgba(0, 0, 0, 0.47);
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  margin-bottom: 29px;
  margin-top: 0;
}
.map_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.map_form form input {
  width: 100%;
  background: #F8F8FA;
  padding: 21px 20px;
  border: none;
  margin-bottom: 11px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  outline: none;
}
.map_form form input:nth-child(2) {
  margin-bottom: 18px;
}
.map_form form button {
  padding: 20px 80px;
  max-width: unset;
  width: 100%;
  color: #fff;
  background-color: #AE8556;
}
.map .contacts-phone .whatsapp path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
@media (any-hover: hover) {
  .map .contacts-phone .whatsapp:hover path {
    fill: #008000;
  }
  .map .contacts-phone .whatsapp:hover path:last-child {
    fill: #fff;
  }
}
.map .contacts-phone .telegram path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
@media (any-hover: hover) {
  .map .contacts-phone .telegram:hover path {
    fill: #036394;
  }
}

.contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts-phone .telegram {
  margin-right: 12px;
}
.contacts-phone .whatsapp {
  margin-right: 10px;
}
.contacts-phone a {
  color: #000;
  font-size: 20px;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-copyright__link {
  display: none;
}

.ymaps-2-1-79-inner-panes {
  border-radius: 24px;
}
.ymaps-2-1-79-inner-panes .ymaps-2-1-79-user-selection-none {
  position: relative;
  z-index: 1000 !important;
}

@media (max-width: 1050px) {
  .map_logo {
    left: 6%;
  }
}
@media (max-width: 859px) {
  .map_logo {
    left: 100px;
  }
}
@media (max-width: 768px) {
  .map {
    padding: 40px 0;
  }
  .map_logo {
    left: 35px;
  }
  .map_contact-form {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    margin: 0 auto;
  }
  .map_contacts .location {
    margin-bottom: 20px;
  }
}
@media (max-width: 640px) {
  .map .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .map .contacts h2 {
    font-size: 28px;
  }
}
@media (max-width: 345px) {
  .map_contacts .location_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
  .map .contacts-phone a {
    font-size: 17px;
  }
  .map .title {
    margin-bottom: 20px;
  }
  .map_contact-form {
    position: static;
    top: 0;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
  .map .ymaps-2-1-79-map {
    display: none;
  }
  .map_logo {
    display: none;
  }
}
.footer {
  background-color: #46423F;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  padding-bottom: 40px;
}
.footer_btn {
  padding: 16px 27px;
  max-width: 221px;
  background-color: #fff;
  color: #D9AE43;
}
.footer .contacts-phone {
  display: block;
}
.footer .contacts-phone .whatsapp path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
@media (any-hover: hover) {
  .footer .contacts-phone .whatsapp:hover path {
    fill: #008000;
  }
  .footer .contacts-phone .whatsapp:hover path:last-child {
    fill: #fff;
  }
}
.footer .contacts-phone .telegram path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
@media (any-hover: hover) {
  .footer .contacts-phone .telegram:hover path {
    fill: #039BE5;
  }
}
.footer .contacts-phone a {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #D9AE43;
}
.footer .contacts-phone button {
  margin-top: 5px;
  margin-left: auto;
  margin-right: 0;
  color: #fff;
  border-bottom: 1px dashed #D9AE43;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .footer .contacts-phone button:hover {
    color: #AE8556;
  }
}
.footer_logo-studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px;
}
.footer_logo-studio span {
  color: #FFF;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 31px;
}

@media (max-width: 846px) {
  .footer_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
  .footer .contacts-phone button {
    margin: 10px auto 0;
  }
}
@media (max-width: 360px) {
  .footer .contacts-phone a {
    font-size: 25px;
  }
}
.hero {
  padding-top: 18px;
  padding-bottom: 19px;
  background-color: #F8F8FA;
}
.hero_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 44px;
}
.hero .title {
  font-size: clamp(1.125rem, 0.474rem + 3.26vw, 2.875rem);
  margin-bottom: 20px;
}
.hero_about {
  margin-top: 19px;
  border: 1px solid #D9AE43;
  padding: 47px 10px 23px 26px;
  font-family: "Wix Madefor Display", sans-serif;
}
.hero .hero_desc {
  font-size: clamp(0.938rem, 0.821rem + 0.58vw, 1.25rem);
  margin: 0;
  margin-bottom: 52px;
  max-width: 728px;
  width: 100%;
}
.hero_buttons {
  margin-bottom: 20px;
}
.hero_btn-about, .hero_btn-services {
  background-color: #fff;
  color: #AE8556;
  font-size: 18px;
  font-weight: 500;
  max-width: 253px;
  margin-right: 40px;
}
.hero_btn-services {
  background-color: transparent;
  margin-right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hero_btn-services svg {
  margin-left: 16px;
}
@media (any-hover: hover) {
  .hero_btn-services:hover {
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #d9ae43;
    color: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(217, 174, 67, 0.4);
    box-shadow: 0 4px 8px rgba(217, 174, 67, 0.4);
  }
}
.hero_image {
  max-width: 401px;
  width: 100%;
}
.hero_image .image {
  width: 100%;
  height: 100%;
}
.hero_signature {
  text-align: right;
  padding-right: 36px;
}

.desc {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: clamp(1.25rem, 1.157rem + 0.47vw, 1.5rem);
  font-weight: 400;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 41px;
}

.hero-about .title {
  color: #AE8556;
  font-family: "Tenor Sans", sans-serif;
  font-size: 55px;
  font-size: clamp(1.375rem, 0.608rem + 3.84vw, 3.438rem);
}
.hero-about .hero_about {
  margin-top: 30px;
  border: 1px solid #D9AE43;
  padding: 82px 6px 65px 27px;
}

@media (max-width: 1235px) {
  .container--lg {
    padding: 0 15px;
  }
}
@media (max-width: 1080px) {
  .hero_btn-about {
    margin: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .hero_btn-services {
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 20px 40px;
  }
}
@media (max-width: 1080px) and (any-hover: hover) {
  .hero_btn-services:hover {
    border-radius: 5px;
    background-color: #d9ae43;
    color: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(217, 174, 67, 0.4);
    box-shadow: 0 4px 8px rgba(217, 174, 67, 0.4);
  }
}
@media (max-width: 1080px) {
  .hero .hero_desc {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .hero_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }
  .hero_about {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (max-width: 400px) {
  .hero_about {
    padding: 20px;
  }
  .hero-about .hero_about {
    padding: 20px;
  }
}
.our-services {
  background-color: #484440;
  padding: 80px 0;
}
.our-services .title {
  color: #fff;
  margin-bottom: 40px;
}

.our-service {
  padding: 24px;
  margin-bottom: 20px;
  background-color: #fff;
}
.our-service .title {
  color: #000;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 18px;
}
.our-service_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  gap: 30px;
}
.our-service_desc p {
  color: #000;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  line-height: 160%;
  max-width: 756px;
  width: 100%;
}
.our-service_desc button {
  max-width: 313px;
  border: 1px solid #AE8556;
  color: #AE8556;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 500;
  white-space: nowrap;
}

.our-service:last-child {
  margin-bottom: 0;
}

.our-services_popup {
  position: fixed;
  z-index: -100;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(84, 78, 64, 0.51);
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.our-services_popup-inner {
  position: relative;
  z-index: 200;
  background-color: #fff;
  padding: 20px;
  padding-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  margin: 0 10px;
  overflow-y: auto;
  max-width: 600px;
  width: 100%;
}
.our-services_popup .close {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 36px;
  height: 36px;
}
.our-services_popup-content {
  color: #000;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  line-height: 160%;
  padding-top: 20px;
}
.our-services_popup-content .title {
  color: #000;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 18px;
}
.our-services_popup-content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}
.our-services_popup-content span {
  font-weight: 700;
}
.our-services_popup-content .name {
  max-width: 350px;
  font-weight: 400;
}
.our-services_popup .mark {
  font-size: 12px;
  margin: 0;
  margin-top: 20px;
  line-height: 120%;
}

.our-services_popup--active {
  z-index: 100;
  opacity: 1;
}

@media (max-width: 768px) {
  .our-services {
    padding: 40px 0;
  }
  .our-services .title {
    margin-bottom: 30px;
  }
  .our-service_desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .our-service_desc button {
    max-width: 100%;
    padding: 20px 0;
  }
}
@media (max-width: 550px) {
  .our-services_popup-content .name {
    max-width: 200px;
  }
}
@media (max-width: 500px), (max-height: 550px) {
  .our-services_popup-inner {
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    border-radius: 0;
  }
}
.specialists {
  background-color: #F8F8FA;
  padding: 80px 0;
}
.specialists .title {
  color: #AA804F;
  font-size: 44px;
  line-height: 150%;
  margin-bottom: 40px;
}
.specialists_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
.specialists_item {
  max-width: 279px;
  cursor: pointer;
  position: relative;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
}
.specialists_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .specialists_item:hover {
    padding: 5px;
  }
  .specialists_item:hover::before {
    opacity: 1;
  }
}
.specialists_item .image {
  margin-bottom: 24px;
}
.specialists_item .title {
  font-size: 24px;
  margin-bottom: 7px;
}
.specialists .specialists_desc {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
}

.specialist_popup {
  position: fixed;
  z-index: -100;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(84, 78, 64, 0.51);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.specialist_popup-inner {
  position: relative;
  z-index: 200;
  background-color: #fff;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 55px;
  margin: 0 15px;
}
.specialist_popup .specialist_content {
  padding-top: 40px;
  padding-bottom: 37px;
}
.specialist_popup .specialist_content-head {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
.specialist_popup .specialist_image .image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.specialist_popup .specialist_desc .title {
  font-size: 24px;
  margin-bottom: 7px;
}
.specialist_popup .specialist_desc p {
  margin: 0;
  margin-bottom: 32px;
}
.specialist_popup .specialist_desc a {
  color: #000;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
}
.specialist_popup .specialist_desc a svg {
  margin-left: 8px;
}
.specialist_popup .specialist_education .title {
  color: #AA804F;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 20px;
}
.specialist_popup .specialist_education p {
  max-width: 536px;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}
.specialist_popup .specialist_experience {
  position: relative;
  background-color: #F8F8FA;
  padding: 70px 40px 69px 26px;
}
.specialist_popup .specialist_experience .close {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 36px;
  height: 36px;
}
.specialist_popup .specialist_experience .title {
  color: #AA804F;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 17px;
}
.specialist_popup .specialist_experience .specialist_experience-item {
  margin-bottom: 20px;
}
.specialist_popup .specialist_experience .specialist_experience-item .title {
  color: #000;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 7px;
}
.specialist_popup .specialist_experience .specialist_experience-item p {
  color: #AFAFAF;
  line-height: 150%;
  margin: 0;
}
.specialist_popup .specialist_experience .specialist_experience-item:last-child {
  margin-bottom: 0;
}

.specialist_popup--active {
  z-index: 100;
  opacity: 1;
}

@media (max-width: 1100px) {
  .specialists_items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 300px;
    grid-template-columns: 300px 300px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .specialists {
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  .specialist_popup-inner {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .specialist_popup .specialist_experience {
    position: static;
  }
  .specialist_popup .specialist_experience {
    padding: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 665px) {
  .specialists_items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px;
    grid-template-columns: 300px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .specialist_popup .specialist_content-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.biography {
  background-color: #EDEFF2;
  padding: 80px 0;
}
.biography_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.biography .title {
  color: #AA804F;
  margin-bottom: 152px;
}
.biography .biography_content p {
  max-width: 680px;
  font-family: "Wix Madefor Display", sans-serif;
  line-height: 160%;
  margin-bottom: 30px;
}
.biography .biography_content p:last-child {
  margin-bottom: 15px;
}
.biography .biography_content-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 40px;
}
.biography .biography_content-images .images--top {
  margin-top: 52px;
}

@media (max-width: 1205px) {
  .biography .biography_content-images {
    gap: 20px;
  }
  .biography_inner {
    gap: 20px;
  }
}
@media (max-width: 1164px) {
  .biography .biography_content-images .images--top {
    max-width: 300px;
  }
  .biography_inner {
    gap: 20px;
  }
  .biography_image {
    max-width: 300px;
  }
}
@media (max-width: 900px) {
  .biography {
    padding: 40px 0;
  }
  .biography .title {
    margin-bottom: 20px;
  }
  .biography_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .biography_image {
    max-width: 100%;
  }
  .biography .biography_content-images .images--top {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .biography_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .biography_image {
    max-width: 100%;
  }
  .biography .biography_content-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.education {
  background-color: #46423F;
  padding: 80px 0;
}
.education_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.education_title {
  max-width: 359px;
  width: 100%;
}
.education .title {
  color: #fff;
}
.education .education_content p {
  color: #fff;
  max-width: 680px;
  font-family: "Wix Madefor Display", sans-serif;
  line-height: 160%;
  margin-bottom: 30px;
}
.education .education_content p:last-child {
  margin-bottom: 0px;
}

@media (max-width: 1205px) {
  .education_title {
    max-width: 339px;
  }
}
@media (max-width: 1164px) {
  .education_title {
    max-width: 280px;
  }
}
@media (max-width: 768px) {
  .education {
    padding: 40px 0;
  }
  .education_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.experience {
  background-color: #F8F8FA;
  padding: 80px 0;
}
.experience_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.experience_title {
  max-width: 359px;
  width: 100%;
}
.experience .title {
  color: #AA804F;
}
.experience .experience_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 304px 304px;
  grid-template-columns: 304px 304px;
  gap: 32px 96px;
  margin-bottom: 50px;
}
.experience .experience_content .title {
  color: #000;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 7px;
}
.experience .experience_content p {
  margin: 0;
  color: #AFAFAF;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}
.experience .experience_now .experience_image {
  margin-bottom: 30px;
}

@media (max-width: 920px) {
  .experience {
    padding: 40px 0;
  }
  .experience_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .experience .experience_items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .experience_experience-item {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */