<section class="biography">
  <div class="container">
    <div class="biography_inner">
      <div class="biography_title">
        <h2 class="title">Биография</h2>
        <div class="biography_image">
          <img src="./img/biography/item1.png" alt="clinic">
        </div>
      </div>
      <div class="biography_content">
        <p>Таким образом дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции требуют определения и уточнения существенных финансовых и административных условий. Задача организации, в особенности же сложившаяся структура организации в значительной степени обуславливает создание соответствующий условий активизации</p>
        <p>Таким образом дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции требуют определения и уточнения существенных финансовых и административных условий. Задача организации, в особенности же сложившаяся структура организации в значительной степени обуславливает создание соответствующий условий активизации</p>
        <div class="biography_content-images">
          <img class="images--top" src="./img/biography/item2.png" alt="clinic">
          <img src="./img/biography/item3.png" alt="clinic">
        </div>
      </div>
    </div>
  </div>
</section>
