<section class="experience">
  <div class="container">
    <div class="experience_inner">
      <div class="experience_title">
        <h2 class="title">Опыт работы</h2>
      </div>
      <div class="experience_content">
        <div class="experience_items">
          <div class="experience_experience-item">
            <h4 class="title">Клиника “Ортодонт”</h4>
            <p>2010-2014, стоматолог-ортопед</p>
          </div>
          <div class="experience_experience-item">
            <h4 class="title">Клиника “Адамант”</h4>
            <p>2014-2016, стоматолог-ортопед</p>
          </div>
          <div class="experience_experience-item">
            <h4 class="title">Клиника “Ортодонт”</h4>
            <p>2016-2018, стоматолог-ортопед</p>
          </div>
          <div class="experience_experience-item">
            <h4 class="title">Клиника “Алмаз”</h4>
            <p>2018-2024, стоматолог-ортопед</p>
          </div>
        </div>
        <div class="experience_now">
          <div class="experience_image">
            <img src="../img/clinic.png" alt="clinic">
          </div>
          <h4 class="title">DR.SLOYAN, клиника  эстетической стоматологии</h4>
          <p>Нынешнее время, стоматолог-ортопед</p>
        </div>
      </div>
    </div>
  </div>
</section>
