<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DR.SLOYAN</title>
  <link rel="preload" href="fonts/TenorSansRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/WixMadeforDisplayBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/WixMadeforDisplayMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/WixMadeforDisplayRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=6f154834-46e7-4370-a5db-c7bc62f90fbf&lang=ru_RU"
  type="text/javascript">
  </script>
  <script defer src="js/main.js"></script>
</head>
