<section class="our-services">
  <div class="container">
    <h2 class="title">Наши услуги</h2>
    <div class="our-service">
      <h2 class="title">Терапевтическая стоматология</h2>
      <div class="our-service_desc">
        <p>Стоматолог-терапевт проводит первоначальный общий осмонтр пациента и дает предварительную оценку лечения, при необходимости направляют на рентгенологическаю диагностику, а так же привлекает других специалистов</p>
        <button type="button" class="button btn-reset our-service_button">Услуги и стоимость</button>
      </div>
    </div>
    <div class="our-service">
      <h2 class="title">Детская стоматология</h2>
      <div class="our-service_desc">
        <p>
          Детские стоматологи проводят профилактические осмотры полости рта, лечат кариес и его осложнения молочных и постоянных зубов у детей до 18 лет
        </p>
        <button type="button" class="button btn-reset our-service_button">Услуги и стоимость</button>
      </div>
    </div>
    <div class="our-service">
      <h2 class="title">Хирургия</h2>
      <div class="our-service_desc">
        <p>
          Хирургия - один из сложных разделов стоматологии, который занимаеться удалением зубов, а так же проблемами воспалений и их функциональности
        </p>
        <button type="button" class="button btn-reset our-service_button">Услуги и стоимость</button>
      </div>
    </div>
    <div class="our-service">
      <h2 class="title">Ортодонтия</h2>
      <div class="our-service_desc">
        <p>
          Установка брекетов - современный ортодонтический метод, применяемый для исправления прикуса
        </p>
        <button type="button" class="button btn-reset our-service_button">Услуги и стоимость</button>
      </div>
    </div>
  </div>
</section>

