<section class="our-services">
  <div class="container">
    <h2 class="title">Наши услуги</h2>
    <div class="our-service">
      <h2 class="title">Терапевтическая стоматология</h2>
      <div class="our-service_desc">
        <p>Стоматолог-терапевт проводит первоначальный общий осмонтр пациента и дает предварительную оценку лечения, при необходимости направляют на рентгенологическаю диагностику, а так же привлекает других специалистов.</p>
        <button type="button" class="button btn-reset our-service_button">Услуги и стоимость</button>
      </div>
    </div>
    <div class="our-service">
      <h2 class="title">Хирургическая стоматология</h2>
      <div class="our-service_desc">
        <p>
          Хирургия - один из сложных разделов стоматологии, который занимаеться удалением зубов, а так же проблемами воспалений и их функциональности.
        </p>
        <button type="button" class="button btn-reset our-service_button">Услуги и стоимость</button>
      </div>
    </div>
    <div class="our-service">
      <h2 class="title">Ортопедическая стоматология</h2>
      <div class="our-service_desc">
        <p>
          Установка брекетов - современный ортодонтический метод, применяемый для исправления прикуса.
        </p>
        <button type="button" class="button btn-reset our-service_button">Услуги и стоимость</button>
      </div>
    </div>
    <div class="our-service">
      <h2 class="title">Профессиональная гигиена</h2>
      <div class="our-service_desc">
        <p>
          Профессиональная гигиена - ключевой раздел стоматологии, посвященный оптимизации здоровья полости рта. Его основная задача заключается в поддержании и укреплении здоровья зубов и десен путем профессиональной чистки, удаления зубного налета и твердых отложений.
        </p>
        <button type="button" class="button btn-reset our-service_button">Услуги и стоимость</button>
      </div>
    </div>
    <div class="our-service">
      <h2 class="title">Детская стоматология</h2>
      <div class="our-service_desc">
        <p>
          Детские стоматологи проводят профилактические осмотры полости рта, лечат кариес и его осложнения молочных и постоянных зубов у детей до 18 лет.
        </p>
        <button type="button" class="button btn-reset our-service_button">Услуги и стоимость</button>
      </div>
    </div>
    <div class="our-services_popup">
      <div class="our-services_popup-inner">
        <button type="button" class="btn-reset close">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
            <path d="M10.137 25.8645L18.0015 18L25.866 25.8645M25.866 10.1355L18 18L10.137 10.1355" stroke="black"
              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        <div class="our-services_popup-content">
          <h6 class="mark">Во избежание недоразумений просим вас уточнять стоимость лечения у администратора. Также вы всегда можете записаться на бесплатную консультацию.</h6>
        </div>
      </div>
    </div>
  </div>
</section>

