<section class="our-works">
  <div class="container">
    <h2 class="title">Наши работы</h2>
    <div class="our-works_inner">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper flex works-slider">
          <div class="swiper-slide slider">
            <picture>
              <source srcset="./img/works/work1.webp" type="image/webp">
              <img loading="lazy" src="./img/works/work1.png" class="image" alt="work">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/works/work2.webp" type="image/webp">
              <img loading="lazy" src="./img/works/work2.png" class="image" alt="work">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/works/work3.webp" type="image/webp">
              <img loading="lazy" src="./img/works/work3.png" class="image" alt="work">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/works/work2.webp" type="image/webp">
              <img loading="lazy" src="./img/works/work2.png" class="image" alt="work">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/works/work3.webp" type="image/webp">
              <img loading="lazy" src="./img/works/work3.png" class="image" alt="work">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev my-button-prev"></div>
      <div class="swiper-button-next my-button-next"></div>
    </div>
  </div>
</section>
