<section class="specialists">
  <div class="container">
    <h2 class="title">Специалисты</h2>
    <div class="specialists_items">
      <div class="specialists_item">
        <picture>
          <source srcset="./img/specialists/specialists1.webp" type="image/webp">
          <img loading="lazy" src="./img/specialists/specialists1.png" class="image" alt="specialists">
        </picture>
        <h3 class="title">Рустам Слоян</h3>
        <p class="specialists_desc">Глав.Врач, стоматолог-терапевт</p>
      </div>
      <div class="specialists_item">
        <picture>
          <source srcset="./img/specialists/specialists2.webp" type="image/webp">
          <img loading="lazy" src="./img/specialists/specialists2.png" class="image"  alt="specialists">
        </picture>
        <h3 class="title">Анна Валерьева</h3>
        <p class="specialists_desc">Стоматолог-хирург</p>
      </div>
      <div class="specialists_items">
        <div class="specialists_item">
          <picture>
            <source srcset="./img/specialists/specialists3.webp" type="image/webp">
            <img loading="lazy" src="./img/specialists/specialists3.png" class="image" alt="specialists">
          </picture>
          <h3 class="title">Иванна Ярова</h3>
          <p class="specialists_desc">Детский стоматолог</p>
        </div>
      </div>
      <div class="specialists_items">
        <div class="specialists_item">
          <picture>
            <source srcset="./img/specialists/specialists4.webp" type="image/webp">
            <img loading="lazy" src="./img/specialists/specialists4.png" class="image" alt="specialists">
          </picture>
          <h3 class="title">Яна Камышенко</h3>
          <p class="specialists_desc">Детский стоматолог</p>
        </div>
      </div>
    </div>
    <div class="specialist_popup">
      <div class="specialist_popup-inner">
        <div class="specialist_content">
          <div class="specialist_content-head">
            <div class="specialist_image">
              <picture>
                <source srcset="./img/specialists/specialists1.webp" type="image/webp">
                <img loading="lazy" src="./img/specialists/specialists1.png" class="image" alt="doctor">
              </picture>
            </div>
            <div class="specialist_desc">
              <h3 class="title">Рустам Слоян</h3>
              <p class="specialists_desc">Глав.Врач, стоматолог-терапевт</p>
              <a href="#">Перейти к отзывам
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="8" viewBox="0 0 34 8" fill="none">
                  <path d="M33.3536 4.35356C33.5488 4.15829 33.5488 3.84171 33.3536 3.64645L30.1716 0.464469C29.9763 0.269207 29.6597 0.269206 29.4645 0.464469C29.2692 0.659731 29.2692 0.976313 29.4645 1.17158L32.2929 4L29.4645 6.82843C29.2692 7.02369 29.2692 7.34027 29.4645 7.53554C29.6597 7.7308 29.9763 7.7308 30.1716 7.53554L33.3536 4.35356ZM-4.37114e-08 4.5L33 4.5L33 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="black"/>
                </svg>
              </a>
            </div>
          </div>
          <div class="specialist_education">
            <h3 class="title">Образование</h3>
            <p>Таким образом дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции требуют определения и уточнения существенных финансовых и административных условий. Задача организации, в особенности же сложившаяся структура организации в значительной степени обуславливает создание соответствующий условий активизации</p>
          </div>
        </div>
        <div class="specialist_experience">
          <button type="button" class="btn-reset close">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
              <path d="M10.137 25.8645L18.0015 18L25.866 25.8645M25.866 10.1355L18 18L10.137 10.1355" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <h3 class="title">Опыт работы</h3>
          <div class="specialist_experience-item">
            <h4 class="title">Клиника “Ортодонт”</h4>
            <p>2010-2014, стоматолог-ортопед</p>
          </div>
          <div class="specialist_experience-item">
            <h4 class="title">Клиника “Ортодонт”</h4>
            <p>2016-2018, стоматолог-ортопед</p>
          </div>
          <div class="specialist_experience-item">
            <h4 class="title">Клиника “Адамант”</h4>
            <p>2018-2024, стоматолог-ортопед</p>
          </div>
          <div class="specialist_experience-item">
            <h4 class="title">Клиника “Алмаз”</h4>
            <p>2018-2024, стоматолог-ортопед</p>
          </div>
          <div class="specialist_experience-item">
            <h4 class="title">Клиника “Алмаз”</h4>
            <p>2018-2024, стоматолог-ортопед</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
